#title{
    background-color:#9CC2D7;
    padding: 0;
    position: relative;
    height: 800px;
 
    z-index: -1;
    
}
h1{
    font-size: 3.5rem;
    font-weight: 900;
    margin: 0 0 80px 5%;
    
}
.container-fluid{
    padding: 3% 15%;
}
.title-image{
    width: 30%;
    transform: rotate(10deg) ;
    margin-top: 30px;
    position: relative;
    left: 40%;
    z-index: 1;
    
   

}
.navbar{
    margin: 0 0 150px 0;
    
}
.nav-link{
    margin: 0 15px;
}
#features{
    margin-top: 150px;
    text-align: center;
    background-color: white;
    position: relative;
    
   
}
.store{
    margin: 0 0 80px 5%;


}
.icone{
    color: #9CC2D7;
}
.icone:hover{
    color: rgb(128, 176, 202);
}
.container-fluid{
    margin: 0;
    padding: 0;
}
.d-block {
    margin: auto;
    float: right;
}

.IMG{
    width: 200px;
    margin: 2% 2% 2% 2%;
  
}
#press{
    background-color: #9CC2D7;
  
    text-align: center;
}
#testimonials{
    text-align: center;
    background-color: #9CC2D7;
    height: 620px;
    margin-top: 10%;
    padding:20px 20px;
}

h2{
    color: black;
    font-size: 30px;
    font-weight: 900;
    margin-top: 5%;


}
.pebble{
    border-radius: 100%;
    margin: 2% 1% 0  0;
}
em{
    font-size: 20px;
}
.carousel-item{
    padding: 7% 15%;
}
.h2{
    font-size: 40px;
    text-align: center;
}
.p{
    font-size: 20px;
    text-align: center;
    margin-bottom: 4%;
}
#pricing{
    padding: 5%;
}
#cta{
    background-color: #9CC2D7 ;
    text-align: center;
    padding: 50px;
}
h3{
    font-size: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    margin: 20px 40px 50px 40px;
}
















